.btn:link, .btn:visited, .btn-submit {
  position: relative;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 20rem;
  display: inline-block;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
  transition: all 0.2s; }

.footer {
  padding: 10rem 0;
  background-color: #272222;
  color: #777;
  font-size: 1.3rem; }
  .footer-item {
    display: inline-block; }
  .footer_logo-box {
    text-align: center;
    padding: 5rem 3rem; }
  .footer-logo {
    width: 15rem; }
  .footer-link {
    text-decoration: none;
    color: #f7f7f7;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s;
    padding: .3rem; }
    .footer-link:hover {
      color: #7ed56f;
      transform: rotate(-4deg) scale(1.3);
      background: #272222; }
    .footer-link:not(:last-child) {
      margin-right: 1rem; }
  .footer_navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 3rem; }
    .footer_navigation-list {
      list-style: none; }
  .footer-copyright {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block; }

.row {
  max-width: 108rem;
  margin: 0 auto;
  margin-bottom: 4rem; }
  @media (max-width: 1200px) {
    .row {
      max-width: 80rem; } }
  @media (max-width: 900px) {
    .row {
      max-width: 50rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    padding: 1rem; }
    @media (max-width: 1200px) {
      .row [class^="col-"] {
        width: 45% !important;
        margin: 0 auto; }
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media (max-width: 900px) {
      .row [class^="col-"] {
        width: 100% !important;
        float: none; } }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * (1rem)) / 3); }
  .row .col-2-of-3 {
    width: calc((100% - 1rem) * 2 / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *1rem) / 4); }
  .row .col-3-of-4 {
    width: calc((100% - 1rem) * 3 / 4); }

@font-face {
  font-family: "lato";
  src: url(../../fonts/Lato/Lato-Regular.ttf); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5; }

html {
  font-size: 62.5%; }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (max-width: 600px) {
    html {
      font-size: 43%; } }

body {
  font-family: lato, Arial, Helvetica, sans-serif;
  color: #777;
  padding: 3rem; }
  @media (max-width: 900px) {
    body {
      padding: 0; } }

@keyframes moveInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20rem);
    -webkit-transform: translateX(-20rem);
    -moz-transform: translateX(-20rem);
    -ms-transform: translateX(-20rem);
    -o-transform: translateX(-20rem); }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveInFromRight {
  from {
    opacity: 0;
    transform: translateX(20rem);
    -webkit-transform: translateX(20rem);
    -moz-transform: translateX(20rem);
    -ms-transform: translateX(20rem);
    -o-transform: translateX(20rem); }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0); } }

@keyframes moveInFromBottom {
  from {
    opacity: 0;
    transform: translateY(10rem);
    -webkit-transform: translateY(10rem);
    -moz-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    -o-transform: translateY(10rem); }
  to {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0); } }

.heading-secondary {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.2s;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  backface-visibility: hidden; }
  @media (max-width: 600px) {
    .heading-secondary {
      font-size: 2.5rem;
      letter-spacing: 1; } }
  .heading-secondary:hover {
    transform: skewY(3deg) skewX(10deg) scale(1.1); }
  .heading-secondary-2 {
    text-transform: uppercase;
    margin-bottom: 0.5rem; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 1rem; }

.text-center {
  text-align: center; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.stacked-img {
  position: relative; }
  .stacked-img img {
    transition: 0.2s all;
    width: 55%;
    position: absolute;
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    z-index: 1;
    outline-offset: 1rem; }
    .stacked-img img:hover {
      transform: scale(1.001) translateY(-2px);
      z-index: 20;
      outline: 1rem solid #7ed56f;
      -webkit-transform: scale(1.1) translateY(-4px);
      -moz-transform: scale(1.1) translateY(-4px);
      -ms-transform: scale(1.1) translateY(-4px);
      -o-transform: scale(1.1) translateY(-4px); }
  .stacked-img_img-2 {
    right: 1rem;
    top: 6rem; }
  .stacked-img_img-3 {
    top: -1rem;
    left: 10%; }
  .stacked-img_img-1 {
    top: 5rem;
    left: 0; }
  .stacked-img:hover img:not(:hover) {
    transform: scale(0.9); }
  @media (max-width: 900px) {
    .stacked-img img {
      width: 35%; }
    .stacked-img_img-2 {
      right: 1rem;
      top: 3rem; }
    .stacked-img_img-3 {
      top: -1rem;
      left: 32%; }
    .stacked-img_img-1 {
      top: 3rem;
      left: 0; } }

.btn:hover::after {
  transform: scale(1.4);
  opacity: 0; }

.btn-animated {
  animation: moveInFromBottom 1.5s 0.5s ease-out backwards; }

.btn:active {
  transform: translateY(-0.1rem);
  -webkit-transform: translateY(-0.1rem);
  -moz-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  -o-transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

.btn:hover {
  transform: translateY(-0.3);
  -webkit-transform: translateY(-0.3);
  -moz-transform: translateY(-0.3);
  -ms-transform: translateY(-0.3);
  -o-transform: translateY(-0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20rem;
  top: 0;
  left: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem; }

.btn-white {
  background: #fff;
  color: #777;
  z-index: 4; }
  .btn-white::after {
    z-index: -1;
    background-color: #fff; }

.btn-green {
  color: #fff;
  background: #55c57a;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 2rem;
  z-index: 4; }
  .btn-green::after {
    background-color: #55c57a;
    z-index: -1; }

.btn-text:link, .btn-text:visited {
  color: #7ed56f;
  font-size: 1.5rem;
  border-bottom: 2px solid #7ed56f;
  text-decoration: none;
  padding: 0.6rem 0.3rem;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all; }

.btn-text:hover {
  transform: translateY(-3px);
  background: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px); }

.btn-text:active {
  transform: translateY(-2px);
  background: #7ed56f;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px); }

.btn-submit {
  font-size: 1.6rem;
  padding: 0.6rem 3rem;
  cursor: pointer;
  color: #7ed56f;
  border: none;
  text-transform: uppercase;
  transition: 0.4s all; }
  .btn-submit:active {
    outline: none;
    transform: translateY(1px); }
  .btn-submit:hover {
    transform: translateY(-3px);
    background: #7ed56f;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

.card {
  perspective: 100rem;
  background: #fff;
  position: relative;
  height: 50rem; }
  .card_side {
    height: 30rem;
    transition: 1s all ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    height: 50rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2); }
    .card_side_front {
      z-index: 20; }
      .card_side_front_img {
        padding: 4rem;
        height: 20rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
        .card_side_front_img-1 {
          background-image: linear-gradient(to right, #ffb900, #ff7730), url(../img/nat-4.jpg);
          background-size: cover; }
        .card_side_front_img-2 {
          background-image: linear-gradient(to right, #7ed56f, #55c57a), url(../img/nat-5.jpg);
          background-size: cover; }
        .card_side_front_img-3 {
          background-image: linear-gradient(to right, #2998ff, #5643fa), url(../img/hero.jpg);
          background-size: cover; }
      .card_side_front_heading {
        font-size: 2.5rem;
        color: #fff;
        text-transform: uppercase;
        text-align: right;
        position: absolute;
        width: 60%;
        top: 25%;
        right: 0; }
        .card_side_front_heading-1 {
          padding: 0.5rem 1rem;
          background-image: linear-gradient(to right, #ffb900, #ff7730); }
        .card_side_front_heading-2 {
          padding: 0.5rem 1rem;
          background-image: linear-gradient(to right, #7ed56f, #55c57a); }
        .card_side_front_heading-3 {
          padding: 0.5rem 1rem;
          background-image: linear-gradient(to right, #2998ff, #5643fa); }
      .card_side_front_details ul {
        list-style: none;
        font-size: 1.6rem;
        width: 80%;
        margin: 0 auto;
        text-align: center; }
        .card_side_front_details ul li {
          padding: 1rem 0; }
          .card_side_front_details ul li:not(:last-child) {
            border-bottom: 2px solid #e4e3e3; }
    .card_side-back {
      color: #fff;
      text-align: center;
      transform: rotateY(180deg); }
      .card_side-back-only {
        z-index: -2;
        font-size: 2rem;
        margin-top: 10rem; }
      .card_side-back .price {
        font-size: 5rem;
        font-weight: 800; }
      .card_side-back .btn-cta {
        margin-top: 10rem; }
      .card_side-back-1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .card_side-back-2 {
        background-image: linear-gradient(to bottom right, #7ed56f, #55c57a); }
      .card_side-back-3 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
  .card:hover .card_side {
    transform: rotateY(180deg); }
  .card:hover .card_side-back {
    transform: rotateY(0deg); }
  @media (max-width: 1200px) {
    .card {
      position: relative;
      height: auto;
      background: #fff; }
      .card_side {
        height: auto;
        transition: 1s all ease;
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: none; }
        .card_side_front {
          z-index: 20; }
          .card_side_front_img {
            padding: 0;
            height: 20rem;
            background-blend-mode: screen;
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
          .card_side_front_heading {
            top: 15%; }
        .card_side-back {
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
          transform: rotateY(0); }
          .card_side-back-only {
            padding-top: 4rem !important;
            z-index: -2;
            font-size: 2rem;
            margin-top: 0; }
          .card_side-back .price {
            font-size: 3.5rem;
            font-weight: 800; }
          .card_side-back .btn-cta {
            padding: 1rem 3rem;
            margin-bottom: 4rem;
            font-size: 2rem;
            margin-top: 2rem; }
          .card_side-back-1 {
            background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
          .card_side-back-2 {
            background-image: linear-gradient(to bottom right, #7ed56f, #55c57a); }
          .card_side-back-3 {
            background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
      .card:hover .card_side {
        transform: rotateY(0); }
      .card:hover .card_side-back {
        transform: rotateY(0deg); } }

.feature-box {
  background: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: 0.4s all; }
  .feature-box_icon {
    font-size: 4rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box_paragraph {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem; }
  .feature-box:hover {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    transform: translateY(-1rem) scale(1.03); }

.form {
  width: 50%; }
  @media (max-width: 900px) {
    .form {
      width: 100% !important;
      transform: skewX(0); } }
  .form-control {
    color: inherit; }
    .form-control_radio {
      display: inline-block;
      padding: 20rem; }
      .form-control_radio_lable {
        cursor: pointer;
        font-size: 1.6rem;
        padding: 1rem 4rem;
        position: relative;
        margin-bottom: 3rem; }
        @media (max-width: 600px) {
          .form-control_radio_lable {
            width: 100%;
            display: block; } }
        .form-control_radio_lable span {
          width: 3rem;
          height: 3rem;
          display: inline-block;
          border-radius: 50%;
          border: 5px solid #7ed56f;
          position: absolute;
          top: 0.5rem;
          left: 0; }
          .form-control_radio_lable span::after {
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            opacity: 0;
            position: absolute;
            transform: translate(-50%, -50%);
            background: #55c57a;
            transition: opacity 0.3s; }
    .form-control:not(:last-child) {
      margin-bottom: 3rem; }
    .form-control_lable {
      margin-left: 2rem;
      font-size: 1.4rem;
      margin-top: 1rem;
      display: block;
      transition: 0.4s all; }
    .form-control_input {
      width: 80%;
      display: block;
      padding: 1.5rem 2rem;
      border: none;
      border-bottom: 3px solid transparent;
      background-color: rgba(255, 255, 255, 0.5);
      transition: all 0.4s; }
      .form-control_input_radio {
        display: none; }
        .form-control_input_radio:checked + label span::after {
          opacity: 1; }
      .form-control_input:valid {
        border-bottom: 3px solid #7ed56f; }
      .form-control_input:invalid {
        border-bottom: 3px solid #ff7730; }
      .form-control_input:focus {
        outline: none;
        border-bottom: 3px solid #7ed56f; }
      .form-control_input::placeholder {
        font-size: 0.1 0.4rem;
        font-family: inherit; }
      @media (max-width: 900px) {
        .form-control_input {
          width: 100% !important; } }
    .form-control_input:placeholder-shown + .form-control_lable {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4.5rem); }

.radios {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 1rem 5rem; }
  @media (max-width: 600px) {
    .radios {
      display: block; } }

.navigation_checkbox {
  display: none; }

.navigation_toggler {
  cursor: pointer;
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 6000;
  text-align: center; }
  @media (max-width: 900px) {
    .navigation_toggler {
      top: 4.5rem;
      right: 5rem; } }
  .navigation_toggler span {
    position: absolute;
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #272525;
    top: 50%;
    left: 50%;
    backface-visibility: hidden;
    transform: translate(-50%, -50%);
    transition: all 0.4s; }
    .navigation_toggler span::after, .navigation_toggler span::before {
      content: "";
      position: absolute;
      width: 3rem;
      left: 0;
      height: 2px;
      background-color: black;
      transition: all 0.4s; }
    .navigation_toggler span::after {
      top: -1rem; }
    .navigation_toggler span::before {
      top: 1rem; }

.navigation_background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 100;
  transition: transform 0.4s ease-in-out; }
  @media (max-width: 900px) {
    .navigation_background {
      top: 5rem;
      right: 6rem; } }

.navigation_nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  z-index: 500;
  transition: 0.4s cubic-bezier(0.78, -0.35, 0.09, 1.26); }

.navigation_menu {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%; }

.navigation_item {
  margin: 1.5rem; }

.navigation_link {
  color: #fff;
  transition: 0.5s all; }
  .navigation_link:link,
  .navigation_link :visited {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 300%; }
  .navigation_link:hover {
    background-position: 100%;
    color: #7ed56f;
    transform: translateX(5px); }

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(80); }

.navigation_checkbox:checked ~ .navigation_nav {
  transform: translateX(0);
  opacity: 1; }

.navigation_checkbox:checked + .navigation_toggler span {
  background: transparent; }

.navigation_checkbox:checked + .navigation_toggler span::after {
  top: 0;
  transform: rotate(45deg); }

.navigation_checkbox:checked + .navigation_toggler span::before {
  top: 0;
  transform: rotate(-45deg); }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 50000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup_content {
    transform: translate(-50%, -50%) scale(1); }
  .popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 75%;
    display: table;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    transition: all 0.3s 0.2s; }
    @media (max-width: 900px) {
      .popup_content {
        display: block;
        overflow-y: auto; } }
    @media (max-width: 600px) {
      .popup_content {
        width: 100%; } }
  .popup_img {
    width: 100%;
    display: block; }
    @media (max-width: 900px) {
      .popup_img {
        width: 49%;
        display: inline-block; } }
  .popup_left {
    width: 33.33%;
    display: table-cell;
    vertical-align: middle; }
    @media (max-width: 900px) {
      .popup_left {
        width: 100%; } }
    @media (max-width: 600px) {
      .popup_left {
        display: none; } }
  .popup_right {
    width: 66.667%;
    display: table-cell;
    vertical-align: middle;
    padding: 5rem 3rem; }
    @media (max-width: 900px) {
      .popup_right {
        width: 100%;
        display: block; } }
  .popup_paragraph {
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #777;
    font-size: 1.6rem; }
    @media (max-width: 600px) {
      .popup_paragraph {
        column-count: 1; } }
  .popup_close:link, .popup_close:visited {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    line-height: 1;
    text-decoration: none;
    font-size: 2.5rem;
    transition: 0.4s all;
    color: #777; }
  .popup_close:hover {
    color: #7ed56f; }

.story {
  width: 70%;
  padding: 5rem 5rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.7);
  transform: skewX(-10deg);
  backface-visibility: hidden; }
  @media (max-width: 1200px) {
    .story {
      width: 100% !important;
      transform: skewX(0); } }
  .story::after {
    content: "";
    clear: both;
    display: table; }
  .story_box {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    backface-visibility: hidden;
    transform: skewX(10deg); }
    @media (max-width: 1200px) {
      .story_box {
        transform: skewX(0deg); } }
    .story_box_img {
      height: 100%;
      transition: 0.5s all;
      transform: skewX(10deg); }
    .story_box_content {
      font-size: 1.5rem;
      transform: translateX(3%) skewX(10deg);
      backface-visibility: hidden; }
      @media (max-width: 1200px) {
        .story_box_content {
          font-size: 2rem;
          transform: translateX(3%) skewX(0deg); } }
    .story_box_author {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      text-transform: capitalize;
      font-size: 1.4rem;
      color: #f3f1f0;
      font-weight: 600;
      transform: translate(-50%, 20%);
      opacity: 0;
      transition: 0.5s all; }
  .story:hover .story_box_author {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story_box_img {
    transform: scale(0.99);
    filter: blur(3px) contrast(70%); }

.video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .3;
  z-index: -1;
  top: 0;
  left: 0; }
  .video-bg_content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.header {
  position: relative;
  background: linear-gradient(to bottom right, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.header-logo {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.main-logo {
  width: 10rem; }

.headings-block {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-align: center; }

.heading-top {
  display: block;
  letter-spacing: 4rem;
  font-size: 5rem;
  font-weight: 700;
  animation: moveInFromLeft 1.3s ease-in-out backwards;
  -webkit-animation: moveInFromLeft 1.3s ease-in-out backwards; }
  @media (max-width: 600px) {
    .heading-top {
      font-size: 3rem;
      letter-spacing: 1rem; } }

.heading-bottom {
  display: block;
  font-size: 1.8rem;
  letter-spacing: 1rem;
  text-align: center;
  font-weight: 800;
  margin-bottom: 6rem;
  animation: moveInFromRight 1.3s ease-in-out;
  -webkit-animation: moveInFromRight 1.3s ease-in-out; }

.about-section {
  padding: 20rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7; }

.feature-section {
  padding: 20rem 0;
  background: linear-gradient(to bottom right, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .feature-section > * {
    transform: skewY(7deg); }

.tours-section {
  margin: 0 auto;
  padding: 25rem 0;
  background: #f7f7f7;
  margin-top: -15rem;
  z-index: -999; }

.story-section {
  padding: 15rem 4rem;
  position: relative; }

.booking-section {
  padding: 10rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #55c57a); }

.booking-form {
  width: 100%;
  padding: 5rem 3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-position: center;
  background-size: cover; }
  @media (max-width: 900px) {
    .booking-form {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/nat-10.jpg); } }
