%mainBtn {
  position: relative;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 20rem;
  display: inline-block;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
  transition: all 0.2s;
}
