// Light green: #7ed56f
// Medium green: #55c57a
// Dark green: #28b485

// colors


$color-primary: #7ed56f;
$color-secondary: #55c57a;
$color-tertiary: #28b485;
$color-grey:#777;

$color-yellow-light:#ffb900;
$color-yellow-dark:#ff7730;

$color-blue-light:#2998ff;
$color-blue-dark:#5643fa;


$row-width:108rem;
$row-width-medium:80rem;


$row-width-small:50rem;
$column-gap:1rem;
$row-mb:4rem;

